<h1 style='text-align: center;'>Hi this is the home page</h1>

<div class="ui four stackable cards" style="margin:10px">
  <% @fishes.each do |fish| %>
  <div class="ui fluid card" id="fish-card">
    <div class="image">
      <%= cl_image_tag(fish.image) %>
    </div>
    <div class="content">
      <a class="header"><%= fish.english %> | <%= fish.malay %> | <%= fish.chinese %></a>
      <div class="meta">
        <span class="volume">Volume</span>
        <span class="volume">$$/kg</span>
      </div>
      <div class="ui bottom attached button">
      <i class="add to cart icon"></i>
      Add Tambah 加
    </div>
    </div>
  </div>
  <% end %>
</div>
