<div class="ui center aligned grid">
  <form accept-charset="UTF-8" class="ui form nifty_form" action="/stalls" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <div class="field">
      <button class="ui fluid button">
        Submit
      </button>
    </div>
    <div class="field">
      <button class="ui fluid button" id="addFish">
        <i class="add square icon"></i>
      </button>
    </div>
    <div id="addFishForm">
      <div class="two fields">
        <div class="field">
          <label>Fish Name</label>
          <div class="ui floating fluid dropdown labeled search icon button" name="stall[fish_id]">
            <i class="icon">fish</i>
            <span class="text">Select Fish</span>
            <div class="menu">
              <div class="item">Arabic</div>
              <div class="item">Chinese</div>
              <div class="item">Vietnamese</div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="two fields">
            <div class="field">
              <label>Qty(kg)</label>
              <input type="number" name="stall[quantity]" placeholder="in kilos">
            </div>
            <div class="field">
              <label>Price $$/kg</label>
              <input type="number" name="stall[price]" placeholder="in SGD">
            </div>
          </div>
        </div>
        <i class="remove_field remove icon"></i>
      </div>
    </div>
  </form>
</div>
