<div class="ui center aligned grid">
  <form accept-charset="UTF-8" class="ui form nifty_form" action="/all_seafood_stocks" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <div class="field">
      <button class="ui fluid button">
        Submit
      </button>
    </div>
    <div class="field">
      <button class="ui fluid button" id="addFish">
        <i class="add square icon"></i>
      </button>
    </div>
    <div id="addFishForm">
      <div class="two fields">
        <div class="field">
          <label>Fish Name</label>
          <div class="ui floating fluid dropdown labeled search icon button" name="seafood[fish_id]">
            <i class="icon">fish</i>
            <span class="text">Select Fish</span>
            <div class="menu">
              <% @fishes.each do |fish| %>
                <div class="item"><%= fish.english %></div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="two fields">
            <div class="field">
              <label>Qty(kg)</label>
              <input type="number" name="seafood[quantity]" placeholder="in kilos">
            </div>
            <div class="field">
              <label>Price $$/kg</label>
              <input type="number" name="seafood[price]" placeholder="in SGD">
            </div>
          </div>
        </div>
        <i class="remove_field remove icon"></i>
      </div>
    </div>
  </form>
</div>

<div id="fishFormTemplate" style="visibility: hidden">
  <div class="two fields">
    <div class="field">
      <label>Fish Name</label>
      <div class="ui floating fluid dropdown labeled search icon button" name="seafood[fish_id]">
        <i class="icon">fish</i>
        <span class="text">Select Fish</span>
        <div class="menu">
          <% @fishes.each do |fish| %>
            <div class="item"><%= fish.english %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="two fields">
        <div class="field">
          <label>Qty(kg)</label>
          <input type="number" name="seafood[quantity]" placeholder="in kilos">
        </div>
        <div class="field">
          <label>Price $$/kg</label>
          <input type="number" name="seafood[price]" placeholder="in SGD">
        </div>
      </div>
    </div>
    <i class="remove_field remove icon"></i>
  </div>
</div>
